@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    background-color: #E5E5E5;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: #000000;
}

.header{
    background-color: #ffffff;
    z-index: 20;
    position: relative;
}

.header::before{
    content: '';
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.header > .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.main-menu{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    z-index: 5;
}

.main-menu a{
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    height: 49px;
    justify-content: center;
    box-sizing: border-box;
}

.main-menu-item{
    width: 213px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    margin-left: 42px;
    box-sizing: border-box;
}

.main-menu-item:first-child{
    margin-left: 0;
}

.main-menu-item > a > img{
    margin-right: 13px;
}

.personal-info{
    display: flex;
    align-items: center;
    z-index: 20;
}

.personal-info > .photo{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.personal-name{
    font-weight: 500;
    margin-left: 15px;
    margin-right: 10px;
}

.personal-name a{
    color: #828282;
}

.header-burger{
    display: none;
}

.current-menu-item{
    background: linear-gradient(270deg, #162970 0%, #255390 99.28%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}

.current-menu-item a{
    color: #ffffff;
}

.head-content{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.head-ex-rate{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

h1{
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    line-height: 29px;
    margin: 0;
}

.ex-rate-item{
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 0.01em;
    font-weight: 500;
    margin-left: 23px;
    
}

.ex-rate-item > img{
    margin-right: 7px;
}

.ex-rate-item > span{
    font-size: 25px;
    line-height: 29px;
    font-weight: 400;
}

.head-ex-rate{
    display: flex;
    flex-wrap: wrap;
}

.ex-rate{
    display: flex;
    margin-left: 18px;
    flex-wrap: wrap;
}

.currency-list{
    display: grid;
    grid-template-columns: 290px 290px 290px 290px;
    grid-template-rows: 163px;
    grid-auto-rows: 163px;
    justify-content: space-between;
    column-gap: 26px;
    row-gap: 33px;
}

.currency-item{
    box-sizing: border-box;
    
}

.currency-info{
    height: 113px;
    background-color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px 23px;
}

.currency-item .current{
    border: 2px solid #F2AE4B;
    box-shadow: 0px 8px 10px rgba(60, 84, 117, 0.15);
}

.head-currency-info{
    display: flex;
    justify-content: space-between;
}

.name-currency{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.balance{
    color: #828282;
    margin-bottom: 8px;
}

.balance-speed{
    padding-left: 13px;
    position: relative;
}

.balance-speed::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #2F80ED;
    border-radius: 50%;
    top: 10px;
    left: 0;
}

.help-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #929292;
    font-weight: 400;
    font-size: 16px;
    color: #828282;
    justify-content: center;
    display: flex;
    align-items: center;
}

.name-currency > span{
    color: #828282;
    text-transform: uppercase;
}

.other-currency-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.speed img{
    display: block;
    margin-right: 8px;
}

.hashrate.options-balance{
    background-color: transparent;
    padding: 0;
    justify-content: space-between;
}

.binance,
.buy-sell{
    height: 100%;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.binance{
    width: 143px;
    border: 2px solid #F3BA2F;
    background-color: #ffffff;
    background-image: url('../images/binance-icon.png');
}

.buy-sell{
    width: 138px;
    height: 100%;
    background-color: #00D56E;
    background-image: url('../images/buy-sell-icon.png');
}

.speed{
    display: flex;
    align-items: center;
}

.speed span{
    font-size: 24px;
}

.currency-qty{
    margin-top: 7px;
    color: #4F4F4F;
}

#chart_div{
    width: 103px;
    height: 41px;
  }

.hashrate{
    height: 36px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 14px;
    padding-left: 18px;
    box-sizing: border-box;
    color: #4F4F4F;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.autohash > span{
    color: #828282;
    font-weight: 400;
}

.radio input:checked{
    border: 3px solid red;
}

.autohash{
    margin-left: 14px;
}

.action-btn{
    background: linear-gradient(270deg, #162970 0%, #255390 99.28%);
    height: 40px;
    min-width: 187px;
    border-radius: 20px;
    position: relative;
}

.action-btn::before{
    content: '+';
    position: absolute;
    color:#ffffff;
    font-size: 22px;
    top: 7px;
    left: 20px;
    font-weight: 400;
}

.action-btn a{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-weight: 500;
    padding-left: 10px;
}

.total{
    display: flex;
    flex-wrap: wrap;
    margin-top: 39px;
}

.total-item{
    margin-left: 36px;
}

.total-item:first-child{
    margin-left: 0;
}

.total-head{
    font-weight: 500;
    color: #828282;
}

.total-item > .sum{
    font-size: 20px;
    padding-left: 14px;
    margin-top: 6px;
    position: relative;
}

.total-item > .sum::before{
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 37%;
    left: 0;
}

.total-item > .amount::before{
    background-color: #27AE60;
}

.total-item > .earn::before{
    background: linear-gradient(180deg, #2D9CDB 0%, #255F80 100%);
}

.total-item > .tax::before{
    background-color: #F2994A;
}

.total-item > .sum > span{
    font-size: 12px;
    color: #828282;

}

.profit-data{
    display: grid;
    grid-template-columns: 915px 300px;
    grid-template-rows: 316px 302px;
    column-gap: 25px;
    row-gap: 33px;
    margin-top: 22px;
}

.data-name{
    color: #828282;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 9px;
}

.scedule-data{
    width: 100%;
    height: 289px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    box-sizing: border-box;
    padding: 22px 22px 18px 22px;
}

.schedule-options{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.opt-cur,
.opt-time{
    display: flex;
    font-size: 12px;
    font-weight: 400;
    color: #BDBDBD;
}

.usd,
.opt-cur > .btc, 
.two-week,
.week{
    border: 1px solid #BDBDBD;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.usd, 
.two-week{
    border-radius: 5px 0 0 5px;
}

.opt-cur > .btc, 
.week{
    border-radius: 0 5px 5px 0;
    margin-left: -1px;
}

.usd,
.opt-cur > .btc{
    min-width: 56px;
}

.two-week,
.week{
    min-width: 77px;
}

.schedule-options .current,
.opt-cur > div:hover,
.opt-time > div:hover{
    color: #162970;
    border-color: #162970;
    cursor: pointer;
}

.forecast-profit{
    width: 300px;
    height: 289px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 22px 10px 22px 20px;
    box-sizing: border-box;
}

.forecast-profit .name{
    color: #BDBDBD;
}

.forecast-profit .forecast-profit-data{
    color: #4F4F4F;
    font-size: 18px;
    line-height: 21px;
    margin-top: 6px;
}

.forecast-profit-item{
    margin-bottom: 17px;
}

.option-buttons{
    display: flex;
    flex-wrap: wrap;
}

.option-button-item{
    color: #A3A3A3;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    margin-left: 31px;
    padding: 12px 23px;
}

.option-button-item.current{
    color: #255390;
    font-weight: 700;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

.option-button-item:hover{
    color: #255390;
    border-color: #255390;
    cursor: pointer;
}

.option-button-item:first-child{
    margin-left: 0;
}

.statistic-table{
    max-width: 915px;
    /*height: 213px;*/
    background-color: #ffffff;
    border-radius: 5px;
    padding: 25px 20px 5px 30px;
    box-sizing: border-box;
    margin-top: 19px;
    overflow-x: auto;
}

.resp{
    overflow-x: auto;
}

.data-table{
    width: 100%;
    border-collapse: collapse;
}

.statistic-table tbody > tr{
    border-bottom: 1px solid hsla(0, 0%, 51%, 0.3);
    height: 54px;
    
}

.statistic-table tbody > tr:last-child{
    border-bottom: none;
}

.statistic-table th{
    font-size: 13px;
    font-weight: 400;
    color: #828282;
    text-align: left;
    margin-bottom: 22px;
}

.statistic-table td{
    font-size: 15px;
    font-weight: 700;
    color: #4F4F4F;
}

.statistic-table .cur-name{
    width: 245px;
    font-size: 15px;
    font-weight: 700;
    color: #255390;
    
}

.statistic-table .date{
    width: 160px; 
}

.statistic-table .time{
    width: 195px; 
}

.statistic-table .cur-name > span{
    margin-left: 15px;
    
}

.statistic-table .sum{
    
    position: relative;
    
}

.statistic-table .sum img{
    
    margin-right: 6px;
    
}
/*
.statistic-table .sum:after{
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    cursor: pointer;
}

.statistic-table .up:after{
    content: url('../images/up.svg');
}

.statistic-table .down:after{
    content: url('../images/down.svg');
}
*/
.statistic-table .sum > span{
    margin-left: 68px;
    font-size: 16px;
    font-weight: 400;
    color: #828282;
}

.statistic-table .cur-name .active{
    font-size: 13px;
    font-weight: 500;
    color: #219653;
    
}

.statistic-table .cur-name .almost-finished{
    font-size: 13px;
    font-weight: 500;
    color: #F2994A;
    
}

.contract-item{
    background-color: #ffffff;
    border-radius: 5px;
    width: 300px;
    height: 66px;
    margin-bottom: 15px;
    padding: 15px;
    box-sizing: border-box;
}

.contract-item > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contract-name{
    color: #4F4F4F;
    font-size: 15px;
    font-weight: 500;
}

.contract-speed{
    color: #4F4F4F;
    font-size: 15px;
}

.contract-status{
    font-size: 13px;
    font-weight: 500;
}

.contract-status.active{
    color: #219653;
}

.contract-status.almost-finished{
    color: #F2994A;
}

.contract-period{
    color: #4F4F4F;
    font-size: 13px;
    font-weight: 500;
}

.footer{
    margin-top: 70px;
    padding-bottom: 28px;
}

.copyright{
    color: #828282;
    font-size: 17px;
    font-weight: 400;
    opacity: 0.3;
}

@media screen and (max-width: 1240px){
    .header > .container{
        padding: 0 20px;
        box-sizing: border-box;
    }

    .main-menu-item{
        width: 170px;
        margin-left: 20px;
    }

    .currency-list{
        
        grid-template-columns: 290px 290px 290px;
        justify-content: center;
    }

    .content .container{
        padding: 0 20px;
    }

    .profit-data{
        grid-template-columns: 1fr;
        grid-template-rows: 316px 316px 302px 302px;

        margin-top: 22px;
    }
}

@media screen and (max-width: 992px){

    .main-menu-item{
        width: 130px;
        margin-left: 15px;
    }

    .main-menu a{
        height: 45px;
        font-size: 12px;
    }

    .currency-list{
        
        grid-template-columns: 290px 290px;
    }

    h1{
        width: 100%;
    }

    .ex-rate{
        margin-left: 0;
    }

    .ex-rate-item:first-child{
        margin-left: 0;
    }

    .option-button-item{
        margin-left: 10px;
        padding: 12px 20px;
    }

    .statistic-table .time{
        width: 100px; 
    }

    .statistic-table .date{
        width: 100px; 
    }

    .statistic-table .sum > span {
        margin-left: 20px;
    }

}

@media screen and (max-width: 767px){

   

    .header > .container{
        height: 60px;
        align-items: center;
        
    }

    .header-burger{
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 50;
    } 
    
    .header-burger::before,
    .header-burger::after{
        content: '';
        background-color: #000000;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
    }  

    .header-burger span{
        background-color: #000000;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        top: 8px;
        transition: all 0.3s ease 0s;
    }  

    .header-burger::before{
        top: 0;
    }

    .header-burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }

    .header-burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header-burger.active span{
        transform: scale(0);
    }

    .header-burger::after{
        bottom: 0;
    }

    .main-menu{
        position: fixed;
        top: -120%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        z-index: 3;
        display: block;
        padding: 70px 0 0 0;
        transition: all 0.3s ease 0s;
    }

    .main-menu.active{
        top: 0;
    }

    .header::before{
        z-index: 5;
    }

    .main-menu-item,
    .main-menu-item:first-child{
        margin-left: 0;
        background-color: #ffffff;
        width: 213px;
        margin: 15px auto 0 auto;
    }

    .main-menu a{
        justify-content: flex-start;
        font-size: 18px;
        padding: 0 20px;
        height: 50px;
    }

    .personal-name a{
        font-size: 16px;
    }

    .currency-list{
        column-gap: 15px;
    }

    .ex-rate-item{
        width: 100%;
        margin-left: 0;
    }
    

    .statistic-table .sum{
        width: 215px;
    }


    .profit-data{

        grid-template-rows: 316px 316px 1fr 302px;
        margin-top: 22px;
    }

    .statistic-table thead{
        display: none;
    }

    .statistic-table tbody > tr{
        display: block;
        min-height: 150px;
        padding-top: 10px;
    }

    .statistic-table .data-table td{
        width: 100%;
        display: block;
        height: 35px;
        text-align: right;
    }

    .statistic-table  td:before{
        content: attr(data-label);
        float: left;
        color: #828282;

    }

    .statistic-table .sum{
        padding-left: 0;
    }

    .data-table{
        border-collapse: separate;
    }

    .option-buttons{
        display: grid;
        grid-template-columns: minmax(100px, 150px) minmax(100px, 150px) minmax(100px, 150px);
        gap: 20px;
        justify-content: space-between;
    }

    .option-button-item{
        margin-left: 0;
        padding: 12px 20px;
        text-align: center;
        max-width: 150px;
    }

}

@media screen and (max-width: 600px){
    .currency-list{
        grid-template-columns: 290px;
    }

    .head-content{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .head-ex-rate{
        width: 100%;
        display: block;
    }

    .ex-rate{
        justify-content: center;
    }

    .action-btn{
        margin-top: 20px;
        height: 50px;
        width: 230px;
    }

    .action-btn a{
        font-size: 18px;
    }

    .action-btn::before{
       
        font-size: 26px;
        top: 11px;
    }

    .profit-data{
        
        grid-template-columns: minmax(280px, 1fr);

    }

    .forecast-profit-item{
        margin-right: 0;
    }

    .statistic-table{
        padding: 10px;
    }

    .statistic-table .sum{
        width: 200px;
    }

    .statistic-table .sum > span{
        margin-left: 10px;
    }

    .option-buttons{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}